
<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">

        {{#if user}}
        <div class="offcanvas__top__hover">
            <span><i class="fa fa-user"></i></span>
            <ul>
                <li><a href="/userpage">Account</a></li>
                <li><a href="/order-success">Orders</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        {{else}}
        <div class="offcanvas__links">
            <a href="/login">Sign in</a>

        </div>
        {{/if}}
    </div>
    <div class="offcanvas__nav__option">

        <!--<a href="#"><img src="img/icon/heart.png" alt=""></a>-->
        {{#if user}}
        <a href="/cart"><i class="fa fa-shopping-cart"></i><span
                style="color:rgb(13, 31, 228) ; font-size:18px ;font-weight:800; padding-left:15px ;">{{cartCount}}</span></a>
        {{/if}}
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        {{!-- <p>Free shipping, </p> --}}
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, Availbale </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">

                        {{#if user}}
                        <div class="header__top__hover">
                            <span><i class="fa fa-user"></i></span>
                            <ul style="padding: 20px 50px;">
                                <li style="font-weight:500; font-size:16px;"><a href="/userpage">Account</a></li>
                                <li style="font-weight:500; font-size:16px;"><a href="/order-success">Orders</a></li>
                                <li style="font-weight:500; font-size:16px;"><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                        {{else}}
                        <div class="header__top__links">
                            <a href="/login">Sign in</a>

                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <span class="text-uppercase fw-lighter ms-2"
                        style="color: black; font-size:22px; font-weight:800; letter-spacing: 3px;">Jasmin
                        Fashions</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class=""><a class="text-uppercase" href="/">Home</a></li>
                        <li><a class="text-uppercase" href="/shop">Shop</a></li>
                        {{#each headers}}
                        <li>
                            <a class="nav-link text-uppercase text-dark"
                                href="/categorysort/{{this._id}}">{{this.category}}</a>
                        </li>
                        {{/each}}

                       
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">

                    <a href="/cart"><i class="fa fa-shopping-cart"></i><span id="cart-count"
                            style="color:rgb(13, 31, 228) ; font-size:18px ;font-weight:800; padding-left:15px ;">{{cartCount}}</span></a>

                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->