<!-- Shop Section Begin -->
<section class="pt-5 mb-5">
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                {{#each headers}}
                                                <li style="list-style: none;"><a
                                                       class="border-0"  onclick="return catsort(event,'{{this._id}}')"
                                                        class="text-secondary">{{this.category}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                {{#when checkamount 'eq' -1}}
                                                <li><input type="radio" name="price" value="-1" checked id="price">
                                                    <span class="text-secondary">All</span>
                                                </li>
                                                {{/when}}
                                                {{#when checkamount 'noteq' -1}}
                                                <li><input type="radio" name="price" value="-1" id="price">
                                                    <span class="text-secondary">All</span>
                                                </li>
                                                {{/when}}
                                                {{#when checkamount 'eq' 500}}
                                                <li><input type="radio" name="price" value="500" id="price" checked>
                                                    <span class="text-secondary"> ₹0.00
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;
                                                        ₹500.00</span>
                                                </li>
                                                {{/when}}

                                                {{#when checkamount 'noteq' 500}}
                                                <li><input type="radio" name="price" value="500" id="price">
                                                    <span class="text-secondary"> ₹0.00
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;
                                                        ₹500.00</span>
                                                </li>
                                                {{/when}}

                                                {{#when checkamount 'eq' 1000}}
                                                <li><input type="radio" name="price" value="1000" id="price"
                                                        checked><span class="text-secondary">
                                                        ₹500.00
                                                        &nbsp; - ₹1000.00 </span></li>
                                                {{/when}}
                                                {{#when checkamount 'noteq' 1000}}
                                                <li><input type="radio" name="price" value="1000" id="price"><span
                                                        class="text-secondary">
                                                        ₹500.00
                                                        &nbsp; - ₹1000.00 </span></li>

                                                {{/when}}
                                                {{#when checkamount 'eq' 1500}}
                                                <li><input type="radio" name="price" value="1500" id="price"
                                                        checked><span class="text-secondary"> ₹1000.00
                                                        -
                                                        ₹1500.00</span></li>
                                                {{/when}}

                                                {{#when checkamount 'noteq' 1500}}
                                                <li><input type="radio" name="price" value="1500" id="
                                                        price"><span class="text-secondary"> ₹1000.00 -
                                                        ₹1500.00</span></li>
                                                {{/when}}
                                                {{#when checkamount 'eq' 1500}}
                                                <li><input type="radio" name="price" value="2000" id="price"
                                                        checked><span class="text-secondary">
                                                        ₹1500.00 -
                                                        ₹2000.00</span></li>
                                                {{/when}}
                                                {{#when checkamount 'noteq' 1500}}
                                                <li><input type="radio" name="price" value="2000" id="price"><span
                                                        class="text-secondary"> ₹1500.00 -
                                                        ₹2000.00</span></li>
                                                {{/when}}
                                                {{#when checkamount 'eq' 2499}}
                                                <li><input type="radio" name="price" value="2499" id="price"
                                                        checked><span class="text-secondary"> ₹2000.00 -
                                                        ₹2500.00</span></li>
                                                {{/when}}
                                                {{#when checkamount 'noteq' 2499}}
                                                <li><input type="radio" name="price" value="2499" id="price"><span
                                                        class="text-secondary"> ₹2000.00 -
                                                        ₹2500.00</span></li>
                                                {{/when}}
                                                {{#when checkamount 'eq' 2500}}
                                                <li><input type="radio" name="price" value="2500" id="price"
                                                        checked><span class="text-secondary">
                                                        ₹2500.00+</span></a></li>
                                                {{/when}}

                                                {{#when checkamount 'noteq' 2500}}
                                                <li><input type="radio" name="price" value="2500" id="price"><span
                                                        class="text-secondary">
                                                        ₹2500.00+</span></a></li>
                                                {{/when}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
               
                <div class="row" id="sortdata">
                    {{#each a}}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/uploads/{{images.[0]}}">
                            {{#if status}}
                            {{#if catoffstatus}}
                            <h5><span class="badge text-danger ms-2"> {{sum offerper catofferper}} % Off</span>
                            </h5>
                            {{else}}
                            <h5><span class="badge text-danger ms-2"> {{offerper}} % Off</span></h5>
                            {{/if}}

                            {{else}}

                            {{#if catoffstatus}}
                            <h5><span class="badge text-danger ms-2"> {{catofferper}} % Off</span></h5>
                            {{else}}

                            <h5><span class="badge text-danger ms-2">0% off</span></h5>
                            {{/if}}

                            {{/if}}



                                <ul class="product__hover">

                                    <li><a href="/product-details/{{this._id}}"><img src="/user/img/icon/compare.png"
                                                alt="">
                                            <span>Go To detail</span></a></li>
                                    
                                    <li><a onclick="addtocart('{{this._id}}')"><img src="/user/img/icon/cart.png" alt="">
                                            <span>+Add to cart</span></a></li>

                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{Name}}</h6>
                                <a class="btn add-cart" onclick="addtocart('{{this._id}}')">
                                    + Add To cart

                                </a>

                                {{#if status}}
                                {{#if catoffstatus}}
                                <s>&#x20B9; {{price}}</s><strong class="ms-2 text-danger"> &#x20B9; {{total}}</strong>
                                {{else}}
                                <s>&#x20B9; {{price}}</s><strong class="ms-2 text-danger"> &#x20B9; {{total}}</strong>
                                {{/if}}
                                {{else}}
                                {{#if catoffstatus}}
                                <s>&#x20B9; {{price}}</s><strong class="ms-2 text-danger"> &#x20B9; {{total}}</strong>
                                {{else}}
                                <strong class="ms-2 text-danger"> &#x20B9; {{price}}</strong>
                                {{/if}}
                                {{/if}}


                            </div>
                        </div>
                    </div>

                    {{/each}}


                </div>
                <div class="row">
                    {{!-- <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->




   


