
<html>

<head>
  {{#if admins}}
  <title>Jasmin Fashions</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{else}}
  <!---User Panel--->
<meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jasmin Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/style.css" type="text/css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

  <!-- fontawesome cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  
  <link rel="stylesheet" href="/stylesheets/cropper.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- User Panel End--->
  {{/if}}
</head>

<body>
  {{#if admins}}
  {{>admin-header}}




  {{else}}
   <div id="preloder">
        <div class="loader"></div>
    </div>
  {{>user-header}}


  {{/if}}
  {{{body}}}

  {{#if admin}}
  {{else}}
  {{#if admins}}
  {{else}}
  {{>footer-head}}
  {{/if}}
  {{/if}}



  {{#if admins}}
  <!-- ======= Footer ======= -->


  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/adminvalidation.js"></script>
  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
{{else}}
<!-- Js Plugins -->
    <script src="/user/js/jquery-3.3.1.min.js"></script>
    <script src="/user/js/bootstrap.min.js"></script>
    <script src="/user/js/jquery.nice-select.min.js"></script>
    <script src="/user/js/jquery.nicescroll.min.js"></script>
    <script src="/user/js/jquery.magnific-popup.min.js"></script>
    <script src="/user/js/jquery.countdown.min.js"></script>
    <script src="/user/js/jquery.slicknav.js"></script>
    <script src="/user/js/mixitup.min.js"></script>
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/main.js"></script>

  {{/if}}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/validation.js"></script>
  <script src="/javascripts/cropper.js"></script>
  <script src="/javascripts/confirmation.js"></script>

  
</body>

</html>